@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	height: 100vh;
	background: rgb(191,90,90);
	background: radial-gradient(circle, rgba(191,90,90,1) 0%, rgba(184,129,71,1) 100%);
}
:root {
	--txt_font: "Source Sans Pro";
}

#card-container {
    margin: 20px auto;
    width: 400px;
	max-width: 980px;
	padding-bottom:10px;
    background-color: #00796b;
    box-shadow: 2px 3px 3px #000;
	display:flex;
	flex-direction: column;
}
.toDo-container {
	background-color: #4e4e4e;
    display:grid;
    grid-template-columns: 8fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}
#toDoInput{
    margin: 8px 0px 0px 5px;
	padding-left: 5px;
    width: 250px;
    height: 30px;
    border:none;
	font-size: 1.3rem;
}
#toDoInput:focus {
    outline: #26c6da;
}
.butao {
    border:none;
    margin: 8px 0px 0px 5px;
    height: 34px;
    width: 130px;
	background-color: #5cb85c;
	color:#fff;
}
.butao:active {
		background-color: #5ca95c;
}
.butao:focus {
	outline: none;
}
.butao:hover {
    cursor: pointer;
}
.lis-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: 1s;
}
.list {
	width:85%;
	margin: 15px auto;
    padding: 16px 16px;
    border-radius: 8px;
    background-color: #d3d3d3;
    display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	text-align: left;
	align-items: center;
	box-shadow: 1px 1px 2px #000;
}
.list:hover {
	background-color: #353839;
	color: #fff;
}
.list p {
	margin-left: 10px;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
	font-family: var(--txt_font);
}
.list:hover {
	cursor:pointer;
}
.list #check-toDo{
	width: 100%;
	height: 25px;
	padding: 15px 20px;
}
.list > input[type="checkbox"]:checked + p {
	text-decoration: line-through;
	color: grey;
}
.list input[type="button"] {
	width: 22px;
	height: 22px;
}
#delete {
    color: #fff;
    transition: 0.3s;
}
#delete:hover {
    cursor: pointer;
    color: #d11507;
    color: red;
    transition: 0.3s;
}
